<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
    <form method="get" action="/">
      <label for="sort_by">Sort by:</label>
      <select name="sort_by" id="sort_by" onchange="this.form.submit()">
        <option value="title" {% if sort_by == 'title' %}selected{% endif %}>Title</option>
        <option value="author" {% if sort_by == 'author' %}selected{% endif %}>Author</option>
      </select>
      <br><br>
      <label for="search">Search:</label>
      <input type="text" id="search" name="search" value="{{ search_query }}">
      <button type="submit">Search</button>
    </form>

    {% if no_results %}
      <p>No books match your search criteria.</p>
    {% endif %}

    {% for book in books %}
    <div style="display: flex; align-items: center; margin-bottom: 1em;">
      <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt="Cover for {{ book.title }}" style="height:100px; margin-right: 16px;">
      <h3>{{ book.title }} <small>by {{ book.author.name }}</small></h3>
    </div>
    {% endfor %}

  </body>
</html>