<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

    {% for book in books %}
    <div style="display: flex; align-items: center; margin-bottom: 1em;">
      <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt="Cover for {{ book.title }}" style="height:100px; margin-right: 16px;">
      <h3>{{ book.title }} <small>by {{ book.author.name }}</small></h3>
    </div>
    {% endfor %}

  </body>
</html>